.author-recommendations{
    width: 100%;
    margin: 0;
    /*padding: 0;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 1%;
}
.author-recommendations h3
{
    width: 90%;
    margin: 1% 1.5% 1% 0;

}
.recommendation-div{
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1%;
}
.recommendation-author-profile{
    width: 50%;
    align-content: center;
    height: 100%;
    margin-bottom: 5%;
}
.recommendation-list-features{
    margin: unset;
    display: flex;
    flex-direction: row;
    padding: unset;
    align-content: center;
    height: 100%;
}
.recommendation-list-features li{
    margin: 1%;
    border: 1px solid lightgray;
    padding: 2%;
    border-radius: 5px;
}
.recommendation-list-features li>h6{
    margin: 0;
    padding: 0;
    width: 100px;
    text-align: center;
    font-weight: normal !important;
}
.visit-profile-button{
    width: 70%;
    margin:  2% 17%;
}