.Card_Div{
    padding: 2%;
    width: 100%;
    flex-direction: row;
    margin: 0 1.5% 1% 0;
    border-radius: unset;
    border: unset;
    border-bottom: 2px solid lightgray;
}
.Profile_Image{
    width: 20%;
    height: 20%;
    object-fit: cover;
    border-radius: 50%;
}
.Card-Body{
    height: 100%;
    padding-right: 50px !important;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding-left: 5%;
    margin: 2% 5%;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.text-area{
    margin: unset;
    width: 90%;
}
.interests{
    margin: 0.5%;
    color: black;

}
.interests:hover{
    text-decoration: underline!important;
}
.profile-features{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1% 1% 1% 0;
    padding: unset !important;
}
.profile-feature{
    padding-right: 1%;
    font-size: 0.8rem;
    color: black;
    width: 180px;
}
.feature h1{
    width: 100%;
    text-align: center;
    margin: auto;
}
.feature{
    padding: 2%;
    border: 2px solid rgb(0,123,255) !important;
    border-radius: 5px !important;
}
/*.feature:hover{*/
/*      */
/*}*/
.feature h1, .feature span{
    color: rgb(0,123,255);
}
@media screen and (max-width: 1024px) {
    .profile-feature{
        font-size: 0.8rem;
        color: black;
        width: 180px;
    }
    .feature{
        padding: 2%;
    }

}
