.UserProfile{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.main-user-profile{
    margin: 2% 1%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}