.profile-articles{
    width: 100% !important;
    padding: 20px;
    box-sizing: border-box;
    height: max-content;
    margin: 0.5% 0 0 0;
}
.PersonalArticles{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.remove-button{
    width: 20%;
    margin: 0 40% ;
}
.PersonalArticles tr, .profile-articles-finding-table tr{
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    gap: 1em;
    margin-bottom: 2%;
}
.remove-select{
    font-weight: bolder;
}
.table-of-contents{
    width:98%;
    height: 500px;
    overflow-y: scroll;
    margin: auto auto 2%;
}
.Table th {
    padding: 12px;
    text-align: center;
    background-color: #1E90FF;
    color: white;
    position: sticky;
    top: 0;
}
/*
This class is only for saved articles. In the main development this will be separated
 */
/*----------------------------------------------------------------------------------------------------------------------*/
.profile-articles-finding{
    display: flex;
    flex-direction: row;
    width: 70% !important;
    padding: 20px;
    box-sizing: border-box;
    height: max-content;
    /*border: 1px solid #ccc;*/
    margin: 2% 1%;
    align-items: center;
}
/*----------------------------------------------------------------------------------------------------------------------*/
.profile-articles-uploadform{
    display: flex;
    flex-direction: column;
    width: 70% !important;
    box-sizing: border-box;
    height: max-content;
    margin: 2% 1%;
}
.upload-form{
    margin: 2% 0;
}
.saved-articles{
    /*border: 1px solid #ccc;*/
    padding: 20px;
    margin: 0.5% 0 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-select-finding{
    flex: 10% !important;
}
.search-input-finding{
    flex: 60% !important;
}
.Tab-Option{
    margin-top: 5%;
    color: black ;
    border: unset;
    font-weight: bolder;
}
.admin-author-update
{
    /*margin-top: 2%;*/
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.admin-author-update > form{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.admin-article-delete > form{
    width:60%
}
.Tab-Option:hover{
    background-color: #6495ED;
    color: white;
}
.nav-link.active{
    background-color: #6495ED !important;
    color: white !important;
}
.formLabel{
    display: block !important;
    margin-right: 1.2%;
}
.form-button{
    margin-top: unset;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-button button{
    width: 100px;
}
.articleUploadOption{
    margin: 2% 0;
    background-color: lightgray !important;
    color: black;
    border: unset;
    font-weight: bolder;
}
.articleUploadOption:hover{
    color: black;
    border: 1px solid darkgray ;
    background-color: unset !important;
}