.account-settings{
    /*margin: 0 auto;*/
    width: 70% !important;
    /*max-width: 500px !important;*/
    padding: 20px;
    box-sizing: border-box;
    height: max-content;
    margin: 2% 1%;


}
.personal-profile-update-main-button{
    display: block;
    width: 20%;
    margin:1% 1% 1% 0;
}
.profile-input{
    border-radius: 5px !important;
}
.label{
    margin-top: 1em;
}
.profile-upload{
    width: 50%;
}