.about-us-section{
    width: 98%;
    height: max-content;
    margin: 2% auto;
}
.about-us-heading, .about-us-new-beginning{
    width: 95%;
    margin:1% auto;
    height: max-content;
    background: #f9f9f9;
    padding: 1% 0 1% 0;
}
.about-us-heading h1, .about-us-new-beginning h1{
    width: 80%;
    font-size: 40px;
    font-weight: 500;
    color: #000;
    text-align: center;
    margin: auto;
    padding: 0;
}
.about-us-paragraph{
    width: 80%;
    margin: 1% auto 1% auto;
}
.about-us-paragraph p{
    font-size: 20px;
    font-weight: 400;
    color: #000;
    text-align: center;
    margin: 2% auto 2% auto;
    padding: 0;
}
.about-us-numbers{
    width: 95%;
    height: max-content;
    margin: 2% auto;
    /*background: #49f5f1;*/
    padding: 0 2%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    gap: 5%;
}
.about-us-numbers div{
    height: 100px;
    background: #f9f9f9;
    padding: 4%;

}
.about-us-numbers h1{
    font-size: 40px;
    font-weight: 500;
    color: #000;
    text-align: center;
    margin: 0;
}
.about-us-numbers div>h6{
    font-size: 1.1rem;
    font-weight: bolder;
    color: #000;
    text-align: center;
    margin: 2% 0;
    padding: 0;
}
.about-us-objectives{
    width: 95%;
    height: max-content;
    margin: 2% auto;
    /*background: #49f5f1;*/
    padding: 0 2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    gap: 1%;
}
.about-us-objectives h1, .about-us-stats h1{
    width: 80%;
    font-size: 40px;
    font-weight: 500;
    color: #000;
    text-align: center;
    margin: 1% auto;
    padding: 0;
}
.about-us-objectives-fields{
    width: 95%;
    height: max-content;
    margin: 2% auto;
    /*background: #49f5f1;*/
    padding: 0 2%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 5%;
}
.about-us-objectives-fields div{
    background: #f9f9f9;
    padding: 4%;

}