.App-header{
    background-color: #006699;
    height: 80px;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.Laptop-LogIn{
    display: none;
}
.logo-div{
    flex: 25%;
    justify-content: center;
    padding-left: 35px;
}
.logo-div img{
    width: 100%;
    height: 100%;
    padding: 10px;
}

.header-options{flex: 50%;}
.login-Div{
    flex: 15%;
}
.header-options ul, .login-Div ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: unset;
    height: 100%;
}
.header-options ul li, .login-Div ul{
    margin: 0 2.5%;
}
.header-options ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    display: block;
    margin: auto;
    font-weight: bolder;
}
.login-Div ul li a{
    width: 100%;
    align-items: center;
}
.login-Div ul li a button{
    background-color: #006699;
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    border: 1px solid white;
    border-radius: 50px;
    /*border: none;*/
    /*padding: 5px 10px;*/
    /*border-radius: 5px;*/
    /*cursor: pointer;*/
}
.login-Div ul li a button:hover{
    background-color: white;
    color: #0071c5;
}
@media screen and (max-width: 1024px){
    .App-header{
        gap: 0;
    }
}
@media screen and (max-width: 768px) {
    .App-header{
        gap: 0;
    }
    .logo-div{
        flex: 35%;
        padding: 1%;
    }
    .logo-div img{
        width: 90%;
        height: 90%;
        margin: auto;
        align-items: center;
    }
    .header-options{flex: 65%;}
    .header-options ul li a {
        font-size: 1rem;
    }
}
@media screen and (max-width: 426px) {
    .App-header{
        height: max-content;
        flex-direction: column;
        gap: 5%;
    }
    .logo-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .login-Div{display: none;}
    .Laptop-LogIn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1%;
    }
    .header-options ul li a {
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 320px){
    .header-options ul li a {
        font-size: 1rem;
    }
}
