.footer{
    /*margin-top: 0.5%;*/
    background-color: #0071c5;
    color: #fff;
    padding: 35px 35px 0 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.footer-detail{
    flex: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:5%;
}
.purpose, .suggestions,.categories{
    flex: 25%;
}
.purpose h2, .suggestions h2, .categories h2{
    font-size:24px;
    text-align: left;
}
.purpose p{
    display: block;
    text-align: left;
}
.categories ul{
text-align: left;
padding: 0;
}
.categories ul li a{
font-size: 1.1rem;
color: white;
text-decoration: none;
}
.categories ul li a:hover{
text-decoration: underline;
}
.button{width:30%;}

.footer-social-media-copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
    margin-top: unset;
    padding:unset;
}
.CopyRight,.SocialMedia{
    flex : 50%;
    width: max-content;
    height: max-content;
}
.SocialMedia ul li a{
    color: white;
    text-decoration: none;
    font-size:2rem;
}
.SocialMedia ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.SocialMedia ul li{margin: 0 2%;}
.CopyRight p{
    text-align: center;
}
.SocialMedia{margin-left:   3.5%;}

@media screen and (max-width: 1024px){
    .footer-detail{
        flex-wrap: wrap;
    }
    .purpose, .suggestions{
        flex: 50%;
    }

    /**/
}

@media screen and (max-width: 426px){
    .footer{
        padding: 20px;
    }
    .footer-detail{
        flex-direction: column;
    }
    .categories, .suggestions{
        width: 100%;
        /*text-align: center;*/
    }
    .purpose p{
        text-align: center;
    }
    .categories ul{
        text-align: center;
    }
    .purpose h2, .suggestions h2, .categories h2{
        text-align: center;
    }
    .footer-social-media-copyright{
        flex-direction: column-reverse;
    }
    .SocialMedia ul li{margin: 0 5%;}

}
