.recent-papers{
    width: 90%;
    /*background-color: #61dafb;*/
    margin: 2.5% auto auto;
}
.recent-papers > h2{
    border-bottom: 2px solid black;
    padding: 0.5% 0.5% 0.5% 0;
    margin-bottom: 2%;
}
.recent-papers-div{
    display: grid;
    margin: auto;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    align-content: center;
}
.paper-anchor{
    text-decoration: none;
    color: black;
    display: block;
}
.paper-anchor:hover{
    color: black;
}
.more-recent-papers{
    display: block;
    width: max-content;
    padding: 2%;
    margin: auto;
    opacity: 0.5;
    color: black;
    cursor: pointer;
}
.more-recent-papers:hover{
    color: black;
    opacity: 1;
}