.recent-papers{
    width: 90%;
    margin: 2.5% auto;
}
.recent-papers .recent-papers-heading h2{
    border-bottom: 2px solid black;
    padding: 0.5% 0.5% 0.5% 0;
    margin-bottom: 2%;
}
.recent-papers-div{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    align-content: center;
    margin-top: 2.5%;
}
.paper-anchor{
    text-decoration: none;
    color: black;
    display: block;
}
.paper-anchor:hover{
    color: black;
}
.more-recent-papers{
    display: block;
    width: max-content;
    padding: 1%;
    margin: auto;
    opacity: 0.5;
    color: black;
    cursor: pointer;
    background-color: white;
    border: unset;
    font-weight: bolder;
    font-size: 1.3rem;
}
.more-recent-papers:active{
    background-color: white !important;
}
.more-recent-papers:hover{
    background-color: white;
    border: unset;
    color: black;
    opacity: 1;
}