.results-showing{
    width: 95%;
    margin: 1%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
    /*margin-left: unset !important;*/
}
.result{
    border: 1px solid lightgray;
    border-radius: 8px;
    padding : 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.heading{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1%;
    color: black;
}

.tags{
    display:inline-block;
    border-radius: 20px;
    padding: 0.5% 2% 0.5% 2%;
    margin: 0 1% 0 0;
    border: 1px solid lightgray;
    color: black;
}
.tags:hover{
    border-radius: 20px;
    border: 1px solid rgb(0,123,255);
}
.heading{
    font-weight: 600;
    font-size: 1.2rem;
    display: inline-block;
}
.heading-extra{
    margin-right: 1%;
}
.authors{
    display: inline-block;
    margin-left: 1%;
    color: black;
}
.authors:hover{
    color: rgb(0,123,255);
    text-decoration: underline !important;
}
.dateLabel{
    display: inline-block;
    margin: 0.5% 0.5% 0 0.5%;
    color: black;
}
.dateField{
    margin-top: 0.5%;
    display: inline-block;
    /*margin-left: 1%;*/
    color: black;
    width: 10%;
    height: 30px;
}