.results-showing{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0.5rem;
    margin: auto auto 0.5%;
}
.result{
    padding : 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    border-bottom: 1px solid lightgray;
}
.heading{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1%;
    color: black;
}

.tags{
    display:inline-block;
    border-radius: 20px;
    padding: 0.5% 2% 0.5% 2%;
    margin: 1% 1% 0 0;
    border: 1px solid lightgray;
    color: black;
}
.tags-button{
    margin-left: 1%;
    background-color: white;
    margin-bottom: 0.7%;
}
.tags:hover, .tags-button:hover{
    background-color: white;
    color: rgb(0,123,255);
    border-radius: 20px;
    border: 1px solid rgb(0,123,255);
}
.heading{
    font-weight: 600;
    font-size: 1.2rem;
    display: inline-block;
}
.heading-extra{
    margin-right: 1%;
}
.authors{
    display: inline-block;
    margin-left: 1%;
    color: black;
}
.authors:hover{
    color: rgb(0,123,255);
    text-decoration: underline !important;
}
.dateLabel{
    display: inline-block;
    margin: 0.5% 0.5% 0 0.5%;
    color: black;
}
.dateField{
    margin-top: 0.5%;
    display: inline-block;
    color: black;
    width: 10%;
    height: 30px;
}
.disabled{
    pointer-events: none !important;
    cursor: default;
    color:Gray !important;
    text-decoration: none;
    text-align: center;
    display:inline-block;
    border-radius: 20px;
    padding: 0.5% 2% 0.5% 2%;
    margin: 1% 1% 0 0;
    border: 1px solid lightgray;

}
@media screen and (max-width: 768px) {
    .results-showing h3, .result-metadata h5{
        font-size: 0.95rem !important;
    }

    .result-metadata .authors, .publication-site, .tags,.results-showing p{
        font-size: 0.8rem !important;
    }


}
@media screen and (max-width: 426px) {
    .result{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 2%;
        padding: 2% 2% 5% 2%;
        /*padding-bottom: 3%;*/
    }
    .result-detail p{
        display: none;
    }
}