.middle-search-area{
    padding: 30px;
    width: 90%;
    margin: auto;
}
.middle-search-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.middle-search-form,.advance-search-input,.tags-dive
{
    width: 50%;
}
.middle-search-input, .middle-search-button, .advance-label, .advance-search-input, .tags-dive
{
    display: block;
}
.middle-search-button, .search-option-button, .close-button{
    cursor: pointer;

}
.middle-search-button, .search-option-button{
    transition: all 0.3s ease;

}
.search-options,.advance-form-group{
    margin-top: 1%;
}
.middle-search-input{
    flex: 75%;
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
}
.middle-search-button{
     flex: 5%;
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.search-options{
    margin-bottom: 1.5%;
}
.search-option-button, .advance-search-input{
    border: 1px solid lightgray;

}
.search-option-button{
    padding: 0 1.5% 0 1.5%;
    border-radius: 20px;
    font-size: 14px;
    color: #333;
    background-color: unset;
}
.active{
    background-color: rgb(0,123,255);
    color: white;
}
.search-option-field{
    margin-left: 1%;
}

.search-option-button:hover{
    background-color: unset;
    border: 1px solid rgb(0,123,255);
    border-radius: 20px;
    color: rgb(0,123,255);;
}

.advance-search-input{
    border-radius: 5px;
    font-size: 14px;
}
.advance-search-button{

    margin-left: 17%;
    width: 15%;
    border-radius: 5px;
    font-size: 1rem;
}

.close-button{
    font-size: 10px;
    margin: unset;
    padding: unset;
}
.form-tag{
    margin: 1% 1% 1% 0;
}