.middle-search-area{
    margin: 30px auto auto auto;
    width: 90%;
    /*margin: auto;*/
}
.middle-search-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.middle-search-form,.advance-search-input,.tags-dive
{
    width: 50%;
}
.middle-search-input, .middle-search-button, .advance-label, .advance-search-input, .tags-dive
{
    display: block;
}
.middle-search-button, .search-option-button, .close-button{
    cursor: pointer;

}
.middle-search-button, .search-option-button{
    transition: all 0.3s ease;

}
.search-options,.advance-form-group{
    margin-top: 1%;
}
.hamburger-menue{
    display: none;
    background-color: white;
    border: none;
    padding: unset;
    padding-left: 0.6%;
    margin-top: 1%;
    height: 35px;
}
.hamburger-menue > div{
    width: 35px;
    height: 5px;
    background-color: gray;
    margin: 3px 0;


}
.mobile-search-options{
    display: none;
    margin-top: 1%;
}
.middle-search-input{
    flex: 75%;
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
}
.middle-search-button{
     flex: 5%;
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.search-options{
    margin-bottom: 1.5%;
    /*display: none;*/
}
.search-option-button, .advance-search-input{
    border: 1px solid lightgray;

}
.search-option-button{
    padding: 0 1.5% 0 1.5%;
    border-radius: 20px;
    font-size: 14px;
    color: #333;
    background-color: unset;
}
.active{
    background-color: rgb(0,123,255);
    color: white;
}
.search-option-field{
    margin-left: 1%;
}

.search-option-button:hover{
    background-color: unset;
    border: 1px solid rgb(0,123,255);
    border-radius: 20px;
    color: rgb(0,123,255);;
}

.advance-search-input{
    border-radius: 5px;
    font-size: 14px;
}
.advance-search-button{

    margin-left: 16%;
    border-radius: 5px;
    font-size: 1rem;
}

.close-button{
    font-size: 10px;
    margin: unset;
    padding: unset;
}
.form-tag{
    margin: 1% 1% 1% 0;
}
@media screen and (max-width: 768px) {
    .middle-search-form{
        width: 100%;
    }
    .dateField{
        width: 20%;
    }
}
@media screen and (max-width: 426px) {
    .search-options{
        display: none;
    }
    .hamburger-menue{
        display: block;
    }
    .mobile-search-options{
        display: flex;
        flex-direction: column;
    }
    .mobile-search-options button{
        margin: 1% 0 1% 0;
        height: 10%;
    }
    .advancedMobileSearch{
        width: 100%;
        margin-top: 1%;
    }
    .dateField{
        width: 35%;
    }
    .advance-mobile-search-input{
        width: 100%;
        margin-top: 1%;
    }
}
/*@media screen and (max-width: 320px){*/
/*    .header-options ul li a {*/
/*        font-size: 1rem;*/
/*    }*/
/*}*/